META_API_VERSION=v24.0
META_USER_ACCESS_TOKEN=
META_PAGE_NAME=Shaktidootam

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=shaktidootam/instagram_jobs

DEFAULT_HASHTAGS=#governmentjobs #sarkarijob #jobalert #indiajobs
